/* Reset de estilos padrão do navegador */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Define um background padrão e uma fonte */
body {
  background-color: #1c1c1c;
  font-family: 'Open Sans', sans-serif;
}

/* Centraliza o conteúdo na tela */
.hero.is-success {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Estilo para a caixa de login */
.column.is-4 {
  background-color: #282828;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilize o título */
.title.has-text-grey {
  margin-bottom: 10%;
  font-size: 24px;
  color: #a8a8a8;
}

/* Estilo para a mensagem de erro */
.notification.is-info {
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* Estilo para os campos de entrada */
.field {
  margin-bottom: 20px;
}

.input.is-large {
  background-color: #333;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Estilo para o botão de login */
.button.is-link.is-large.is-fullwidth {
  width: 100%;
  background-color: 535353;
  color: #5a5a5a;
  border: none;
  padding: 10px;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
}

/* Estilize a mensagem de erro no campo de CPF */
#erro {
  text-align: center;
  color: #B31117;
}